<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오설록</title>
    <style>
        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <%- include("../header.ejs") %>
    <%- include("../nav.ejs") %>
    <div align="center">
        <br><br>
        <font size="5"><b>전체 목록</b></font>
        <hr width="300px">
        <br><br>
        <form action="boardModifyPro">
            <table border="1">
                <tr>
                    <td>번호</td>
                    <td><%= board["board_num"] %></td>
                </tr>
                <tr>
                    <td>조회수</td>
                    <td><%= board["boardReadCount"] %></td>
                </tr>
                <tr>
                    <td>작성자</td>
                    <td><%= board["board_userId"] %></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td>
                        <input type="text" name="board_title" value="<%= board['board_title'] %>">
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <textarea name="board_content" rows="10" cols="20"><%= board["board_content"] %></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="hidden" name="board_num" value="<%= board['board_num']%>">
                        <input type="submit" value="수정완료">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <%- include("../footer.ejs") %>
</div>
</body>
</html>